<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.yju.myapplication">
    <!-- 인터넷 권한 선언 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <activity android:name=".ReserVationActivity"></activity>
        <activity android:name=".Community.CommunityViewActivity" />
        <activity android:name=".Community.CommunityInsertAcitivty" />
        <activity android:name=".Community.CommunityUpdateActivity" />

        <activity android:name=".FeeInfoAcitivty" />
        <activity android:name=".CardActivity" />
        <activity android:name=".QnaAcitivty" />
        <activity android:name=".FacilRecoActivity" />
        <activity android:name=".IntroActivity" />
        <activity android:name=".Community.CommunityAcitivty" />
        <activity android:name=".MyPage.MyPageActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".UpdatePwActivity" />
        <activity android:name=".FindPwActivity" />
        <activity android:name=".FindUserActivity" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".LoginActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".RegisterActivity" />
    </application>

</manifest>